{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div id="AppAboutUs"></div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('AboutUs') }}
    {% endblock %}
{% endblock %}