{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div id="AppCheckout"></div>
    </div>
    {% block javascripts %}
        {{ parent() }}

        {{ encore_entry_script_tags('Checkout') }}
    {% endblock %}
{% endblock %}