{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div id="AppContact"></div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('Contact') }}
    {% endblock %}
{% endblock %}