{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div id="AppProduct"></div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script>
            window.productData = {{ productData|json_encode|raw }}
        </script>
        {{ encore_entry_script_tags('Product') }}
    {% endblock %}
{% endblock %}