@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "prettyPhoto.css";
@import "price-range.css";
@import "animate.css";
@import "main.css";
@import "responsive.css";

@import "~react-image-gallery/styles/css/image-gallery.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "productInputSpinner.css";

/*Own styles*/

#footer-div {
    display: flex;
    justify-content: center;
}