.order-email-main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

.order-email-main > div {
    width: 680px;
    text-align: center;
}

.order-email-main > div > a {
    margin-bottom: 20px;
    border: none;
}

.order-email-main p {
    margin-top: 0;
    margin-bottom: 20px;
}

.order-email-table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    margin-bottom: 20px;
}

.order-email-thead tr td {
    font-size: 12px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #efefef;
    font-weight: bold;
    text-align: left;
    padding: 7px;
    color: #222222;
}

.order-email-table thead tr td {
    font-size: 12px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #efefef;
    font-weight: bold;
    text-align: left;
    padding: 7px;
    color: #222222;
}

.order-email-table td {
    font-size: 12px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 7px;
}