﻿/*************************
*******Typography******
**************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Abel);

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 400px;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #FE980F;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

a#scrollUp i {
    font-size: 30px;
}


/*************************
*******HeaderMain CSS******
**************************/

.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}

.contactinfo ul li:first-child {
    margin-left: -15px;
}

.contactinfo ul li a {
    font-size: 12px;
    color: #696763;
    font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover {
    background: inherit;
}

.social-icons ul li a {
    pointer-events: auto;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding: 0px;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
    color: #fe9b17;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover {
    background: #5BBCEC;
}

.fa-linkedin:hover {
    background: #FF4518;
}

.fa-dribbble:hover {
    background: #90C9DC;
}

.fa-google-plus:hover {
    background: #CE3C2D;
}

.header-middle .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-middle .container .row .col-sm-4 {
    padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
    padding-right: 0;
}

.usa {
    border-radius: 0;
    color: #B4B1AB;
    font-size: 12px;
    margin-right: 20px;
    padding: 2px 15px;
    margin-top: 10px;
}

.usa:hover {
    background: #FE980F;
    color: #fff;
    border-color: #FE980F;
}

.usa:active,
.usa.active {
    background: none repeat scroll 0 0 #FE980F;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    outline: 0 none;
}

.btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background-color: #FE980F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.shop-menu ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.shop-menu ul li:last-child {
    padding-right: 0;
}

.shop-menu ul li button {
    background: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    /*margin-top: 10px;*/
    border: none;
    size: 2em;
}

.shop-menu ul li button i {
    margin-right: 3px;
}

.shop-menu ul li button:hover {
    color: #fe980f;
    background: #fff;
}

.header-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-collapse.collapse {
    padding-left: 0;
}

.main-menu ul li {
    padding-right: 15px;
    padding-left: 15px;
}

.main-menu ul li:first-child {
    padding-left: 0px;
}

.main-menu ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 10px;
}

.main-menu{
    z-index: 999;
    position: absolute;
    margin-top: 33px;
}

.main-menu ul li a.active,
.shop-menu ul li a.active {
    background: none;
    color: #fdb45e;
}

.search_box input {
    background: #F0F0E9;
    border: medium none;
    color: black;
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding: 0 5px;
    margin-right:10px;
    width: 100%;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: right 2% bottom 50%;
}

.parent_search_box  {
    position: relative;
}

.search_box .dropdown-menu {
    display: block;
}

.dropdown-suggestion-img {
    width: 90%;
}

.search_box .product-element .image {
    width: 90px;
    height: 100px;
    overflow: hidden;
    float: left;
}

.search_box .product-element {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    min-height: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none !important;
    border-radius: 0 !important;
}

.search_box .product-element .description {
    font-size: 10px;
    color: #000;
    margin: 0 0 0 60px;
    display: block;
    min-height: 100px;
}

.search_box .product-element .name {
    display: block;
    color: #0094db;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.search_box .product-element .os-price-available {
    font-size: 11px;
    line-height: 22px;
    margin: 0 10px 0 0;
}

.os-search-autocomplete .product-element .os-available {
    font-size: 11px;
    line-height: 22px;
    margin: 0 10px 0 0;
}

.search_box li.active {
    background-color: #FE980F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


/*  Dropdown menu*/

.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

ul.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.dropdown ul.sub-menu li .active {
    color: #FDB45E;
    padding-left: 0;
}

.navbar-nav li ul.sub-menu li {
    padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
    padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
    color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
    color: #FDB45E;
}

.fa-angle-down {
    padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/*************************
*******Footer CSS******
**************************/

#footer {
    background: #F0F0E9;
    /*bottom: -10px;*/
    /*position: relative;*/
}

.footer-top .container {
    border-bottom: 1px solid #E0E0DA;
    padding-bottom: 20px;
}

.companyinfo {
    margin-top: 57px;
}

.companyinfo h2 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 27px;
    text-transform: uppercase;
}

.companyinfo h2 span {
    color: #FE980F;
}

.companyinfo p {
    color: #B3B3AD;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer-top .col-sm-3 {
    overflow: hidden;
}

.video-gallery {
    margin-top: 57px;
    position: inherit;
}

.video-gallery a img {
    height: 100%;
    width: 100%;
}

.iframe-img {
    position: relative;
    display: block;
    height: 61px;
    margin-bottom: 10px;
    border: 2px solid #CCCCC6;
    border-radius: 3px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #FE980F;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.video-gallery a:hover .overlay-icon {
    opacity: 1;
}

.video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.video-gallery h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0px;
}

.address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.address img {
    width: 100%;
}

.address p {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 50px;
}

.footer-widget {
    margin-bottom: 68px;
}

.footer-widget .container {
    border-top: 1px solid #FFFFFF;
    padding-top: 15px;
}

.single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.single-widget h2 i {
    margin-right: 15px;
}

.single-widget ul li a {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

.single-widget ul li a i {
    margin-right: 18px;
}

.single-widget ul li a:hover {
    background: none;
    color: #FE980F;
}

.searchform input {
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 212px;
}

.searchform button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    padding: 7px 17px;
}

.searchform button i {
    color: #FFFFFF;
    font-size: 20px;
}

.searchform button:hover,
.searchform button:focus {
    background-color: #FE980F;
}

.searchform p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.footer-bottom {
    background: #D6D6D0;
    padding-top: 10px;
}

.footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #FE980F;
    font-style: italic;
    text-decoration: underline;
}


/*************************
******* Home ******
**************************/

#slider {
    padding-bottom: 45px;
}

.carousel-indicators li {
    background: #C4C4BE;
}

.carousel-indicators li.active {
    background: #FE980F;
}

.item {
    padding-left: 100px;
}

.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 115px;
}

.item h1 span {
    color: #FE980F;
}

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.get {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}

.item button:hover {
    background: #FE980F;
}

.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

.control-carousel:hover {
    color: #FE980F;
}

.right {
    right: 0;
}

.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 15px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.parent-left-sidebar {
 padding-right: 5px;
}

.left-sidebar h2,
.brands_products h2 {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    border-bottom: 5px solid #FE980F;
}

.panel-title h2 {
    font-size: 14px;
    color: #db8109;
    border-bottom: none;
}

/*.left-sidebar h2:after,*/
/*h2.title:after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    border: 1px solid #f5f5f5;*/
/*    bottom: 8px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 0;*/
/*    z-index: -2;*/
/*}*/

.left-sidebar h2:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}

h2.title:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}

.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 5px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .badge {
    background: none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

span.badge {
    position: absolute;
    right:-1px;
}

.panel-default span.badge {
    position: inherit;
}

.panel-body{
    padding: 10px;
}

.panel-body ul {
    padding-left: 5px;
}

.panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    width: 90%;
}

.panel-title a > span {
    color: #696763;
}

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
}

.brands-name .nav-stacked li a {
    background-color: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover {
    background-color: #fff;
    color: #696763;
}

.shipping {
    background-color: #F2F2F2;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}

.price-range {
    margin-top: 30px;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #F7F7F0;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    /*padding: 35px;*/
}

.tooltip-inner {
    background-color: #FE980F;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #FE980F;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.padding-right {
    padding-right: 0;
}

.features_items {
    overflow: hidden;
}

h2.title {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-products {
    position: relative;
}

.new,
.sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2 {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo img {
    width: 100%;
    max-height: 60%;
    object-fit: contain;
    height: 250px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.productinfo {
    position: relative;
    height: 450px;
}

.product-overlay {
    background: rgba(254, 152, 15, .8);
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    -webkit-transition: height 500ms ease 0s;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}

.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
    background: #fff;
    color: #FE980F;
}

.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.add-to-cart:hover {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
}

.add-to {
    margin-bottom: 10px;
}

.add-to-cart i {
    margin-right: 5px;
}

.add-to-cart:hover {
    background: #FE980F;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

.choose ul li a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.choose ul li a i {
    margin-right: 5px;
}

.choose ul li a:hover {
    background: none;
    color: #FE980F;
}

.category-tab {
    overflow: hidden;
}

.category-tab ul {
    background: #40403E;
    border-bottom: 1px solid #FE980F;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}

.category-tab ul li a {
    border: 0 none;
    border-radius: 0;
    color: #B3AFA8;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.category-tab ul li a:hover {
    background: #FE980F;
    color: #fff;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FE980F;
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
}

.recommended_items {
    overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 41%;
}

.recommended-item-control i {
    background: none repeat scroll 0 0 #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}

.recommended-item-control i:hover {
    background: #ccccc6;
}

.recommended_items h2 {
}

.our_partners {
    overflow: hidden;
}

.our_partners ul {
    background: #F7F7F0;
    margin-bottom: 50px;
}

.our_partners ul li a:hover {
    background: none;
}


/*************************
*******Shop CSS******
**************************/

#advertisement {
    padding-bottom: 45px;
}

#advertisement img {
    width: 100%;
}

.pagination {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 15px;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.pagination li:last-child a,
.pagination li:last-child span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
    background-color: #FE980F;
    border-color: #FE980F;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}

.pagination li a,
.pagination li span {
    background-color: #f0f0e9;
    border: 0;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-right: 5px;
    color: #000;
}

.pagination li a:hover {
    background: #FE980F;
    color: #fff;
}


/*************************
*******Product Details CSS******
**************************/

.product-details {
    overflow: hidden;
}

#similar-product {
    margin-top: 40px;
}

#question {
    padding-left: 25px;
    padding-right: 25px;
}

.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}

.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #F7F7F0;
    height: 380px;
    width: 100%;
}

.view-product h3 {
    background: #FE980F;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}

#similar-product .carousel-inner .item {
    padding-left: 0px;
}

#similar-product .carousel-inner .item img {
    display: inline-block;
    margin-left: 15px;
}

.item-control {
    position: absolute;
    top: 35%;
}

.item-control i {
    background: #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
}

.item-control i:hover {
    background: #ccccc6;
}

.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}

.newarrival {
    position: absolute;
    top: 0;
    left: 0
}

.product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.product-information span span {
    color: #FE980F;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}

.product-information span input {
    border: 1px solid #DEDEDC;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

.product-information span label {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.share {
    margin-top: 15px;
}

.cart {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    transition: background-color .3s ease;
}

button.cart:hover {
    color: #FFFFFF;
    background-color: dodgerblue;
}

button.cart:focus {
    color: #FFFFFF;
}

.cart i {
    padding-right: 10px;
}

.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

#date-time {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

#date-time li {
    display: inline-block;
}

#date-time li a {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

#date-time li a i {
    color: #FE980F;
    padding-right: 8px;
}

#date-time li a:hover {
    background: #fff;
    color: #FE980F;
}

#question p {
    color: #363432;
}

#question form span {
    display: block;
}

#question form input {
    background-color: #e4e3e3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 8px;
}

#question form span input:last-child {
    margin-left: 3%;
}

#question textarea {
    background-color: #e4e3e3;
    height: 195px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;
}

#question button {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


/*************************
*******404 CSS******
**************************/

.logo-404 {
    margin-top: 60px;
}

.content-404 {
    margin-bottom: 60px;
}

.content-404 h1 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 300;
}

.content-404 img {
    margin: 0 auto;
    width: 30%;
}

.content-404 p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content-404 h2 {
    margin-top: 50px;
}

.content-404 h2 a {
    background: #FE980F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 300;
    padding: 8px 40px;
}


/*************************
*******login page CSS******
**************************/

#form {
    display: block;
    margin-bottom: 185px;
    margin-top: 185px;
    overflow: hidden;
}

.login-form {
}

.signup-form {
}

.login-form h2,
.signup-form h2 {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.login-form form input,
.signup-form form input {
    background: #F0F0E9;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.login-form form span {
    line-height: 25px;
}

.login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button,
.signup-form form button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

.login-form label {
}

.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}

.or {
    background: #FE980F;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-top: 75px;
    text-align: center;
    width: 50px;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs .breadcrumb {
    background: transparent;
    margin-bottom: 10px;
    padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
    background: #FE980F;
    color: #FFFFFF;
    padding: 3px 7px;
    margin-left: 10px;
}

.breadcrumbs .breadcrumb li i {
    position: absolute;
    display: inline-block;
    color: #fdb45e;
    margin:3px 15px;
}

.breadcrumbs .breadcrumb li::before{
    content: "";
    margin-left: 10px;
}

.breadcrumbs .breadcrumb li.active{
    margin-left: 10px;
}

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    /*margin-bottom: 50px*/
}

#cart_items .cart_info .cart_menu {
    background: #FE980F;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}

#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid #F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: middle;
    margin-right: 5px;
    max-width: 20%;
}

#cart_items .cart_info .image {
    padding-left: 30px;
}

#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a, .total-result {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.total-result {
    text-align: right;
}

#cart_items .cart_info .cart_description p {
    color: #696763
}

#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
}

#cart_items .cart_info .cart_total_price, .total-result span {
    color: #FE980F;
    font-size: 24px;
}

.total-result span {
    font-weight: bold;
    border-bottom: #0d6efd 2px solid;
    padding: 5px;
}

.cart_product {
    display: block;
    /*  margin: 15px -70px 10px 25px;*/
}

.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
    line-height: 28px;
}

.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
    border-bottom: none;
}

.cart_delete button {
    background:#85bfe3;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px;
    border: none;
}

.cart_delete button:hover {
    background: #FE980F
}

.bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}

#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area,
#do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}

.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}

.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.user_info .single_field {
    width: 31%
}

.user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid #F0F0E9
}

.user_info > li {
    float: left;
    margin-right: 10px
}

.user_info > li > span {
}

.user_info input,
select,
textarea {
    background: #F0F0E9;
    border: 0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
}

.user_info select:focus {
    border: 0
}

.chose_area .update {
    margin-left: 40px;
}

.update,
.check_out {
    background: #FE980F;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}

.update {
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}


/*************************
*******checkout CSS******
**************************/

.step-one {
    margin-bottom: -10px
}

.register-req,
.step-one .heading {
    background: none repeat scroll 0 0 #F0F0E9;
    color: #363432;
    font-size: 20px;
    margin-bottom: 35px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
}

.checkout-options {
    padding-left: 20px
}

.checkout-options h3 {
    color: #363432;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.checkout-options p {
    color: #434343;
    font-weight: 300;
    margin-bottom: 25px;
}

.checkout-options .nav li {
    float: left;
    margin-right: 45px;
    color: #696763;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.checkout-options .nav label {
    font-weight: normal;
}

.checkout-options .nav li a {
    color: #FE980F;
    font-size: 18px;
    font-weight: normal;
    padding: 0
}

.checkout-options .nav li a:hover {
    background: inherit;
}

.checkout-options .nav i {
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    background: #FE980F;
    color: #fff;
    font-size: 14px;
    padding: 2px 3px;
}

.register-req {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    margin-top: 35px;
}

.register-req p {
    margin-bottom: 0
}

.shopper-info p,
.bill-to p,
.order-message p {
    color: #696763;
    font-size: 20px;
    font-weight: 300
}

.shopper-info .btn-primary {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    margin-right: 15px;
    margin-top: 20px;
}

/*.form-two,*/
/*.form-one {*/
/*    !*float: left;*!*/
/*    !*width: 47%*!*/
/*}*/

.shopper-info > form > input,
.form-two > form > select,
.form-two > form > input,
.form-one > form > input {
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300
}

.shopper-info > form > div > input,
.form-two > form > div > input,
.form-one > form > div > input {
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300
}

.was-validated .form-control:invalid {
    /*border-color: #dc3545 !important;*/
    border: 1px solid #dc3545;
}

.form-two > form > select {
    padding: 10px 5px
}

.form-two {
    margin-left: 5%
}

.form-two > form > div > label,
.form-one > form > div > label,
.form-two > form > div > div > label,
.form-one > form > div > div > label {
    margin-bottom: 10px;
    width: 100%;
    font-weight: 300
}

.order-message textarea {
    /*font-size: 12px;*/
    /*height: 335px;*/
    margin-bottom: 20px;
    padding: 15px 20px;
}

.order-message label {
    font-weight: 300;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-size: 14px
}

.review-payment h2 {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 20px
}

/*.payment-options {*/
/*    margin-bottom: 125px;*/
/*    margin-top: -25px*/
/*}*/

/*.payment-options span label {*/
/*    color: #696763;*/
/*    font-size: 14px;*/
/*    font-weight: 300;*/
/*    margin-right: 30px;*/
/*}*/

#cart_items .cart_info .table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #696763
}

#cart_items .cart_info .table.table-condensed.total-result tr {
    border-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#cart_items .cart_info .table.table-condensed.total-result span {
    color: #FE980F;
    font-weight: 700;
    font-size: 20px
}

#cart_items .cart_info .table.table-condensed.total-result .shipping-cost {
    border-bottom: 1px solid #F7F7F0;
}


/*************************
*******Blog CSS******
**************************/

.blog-post-area .single-blog-post h3 {
    color: #696763;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 17px;
}

.single-blog-post > a {
}

.blog-post-area .single-blog-post a img {
    border: 1px solid #F7F7F0;
    width: 100%;
    margin-bottom: 30px
}

.blog-post-area .single-blog-post p {
    color: #363432
}

.blog-post-area .post-meta {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
}

.blog-post-area .post-meta ul {
    padding: 0;
    display: inline;
}

.blog-post-area .post-meta ul li {
    background: #F0F0E9;
    float: left;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 11px;
    color: #393b3b;
    position: relative;
}

.blog-post-area .post-meta ul li i {
    background: #FE980F;
    color: #FFFFFF;
    margin-left: -4px;
    margin-right: 7px;
    padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area .post-meta ul li i:after {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    border-color: transparent transparent transparent #FE980F;
    border-width: 4px;
    border-style: solid;
    top: 6px;
    left: 24px
}

.blog-post-area .post-meta ul span {
    float: right;
    color: #FE980F
}

.post-meta span {
    float: right;
}

.post-meta span i {
    color: #FE980F
}

.blog-post-area .single-blog-post .btn-primary {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 17px;
}

.pagination-area {
    margin-bottom: 45px;
    margin-top: 45px
}

.pagination-area .pagination li a {
    background: #F0F0E9;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    margin-right: 5px;
    padding: 4px 12px;
}

.pagination-area .pagination li a:hover,
.pagination-area .pagination li .active {
    background: #FE980F;
    color: #fff
}


/*************************
*******Blog Single CSS******
**************************/

.pager-area {
    overflow: hidden;
}

.pager-area .pager li a {
    background: #F0F0E9;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
    text-transform: uppercase;
    width: 57px;
}

.pager-area .pager li a:hover {
    background: #FE980F;
    color: #fff
}

.rating-area {
    border: 1px solid #F7F7F0;
    direction: block;
    overflow: hidden;
}

.rating-area ul li {
    float: left;
    padding: 5px;
    font-size: 12px
}

.rating-area .ratings {
    float: left;
    padding-left: 0;
    margin-bottom: 0
}

.rating-area .ratings li i {
    color: #CCCCCC
}

.rating-area .rate-this {
    color: #363432;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.rating-area .ratings .color,
.rating-area .color {
    color: #FE980F
}

.rating-area .tag {
    float: right;
    margin-bottom: 0;
    margin-right: 10px;
}

.rating-area .tag li {
    padding: 5px 2px;
}

.rating-area .tag li span {
    color: #363432;
}

.socials-share {
    margin-bottom: 30px;
    margin-top: 18px;
}

.commnets .media-object {
    margin-right: 15px;
    width: 100%;
}

.commnets {
    border: 1px solid #F7F7F0;
    padding: 18px 18px 18px 0;
    margin-bottom: 50px
}

.commnets .pull-left {
    margin-right: 22px
}

.commnets p,
.response-area p,
.replay-box p {
    font-size: 12px
}

.media-heading {
    color: #363432;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px
}

.blog-socials {
    margin-bottom: -9px;
    margin-top: 14px;
}

.blog-socials ul {
    padding-left: 0;
    overflow: hidden;
    float: left;
}

.blog-socials .btn.btn-primary {
    margin-top: 0;
}

.blog-socials ul li {
    float: left;
    height: 17px;
    margin-right: 5px;
    text-align: center;
    width: 17px;
}

.blog-socials ul li a {
    color: #393B3B;
    display: block;
    font-size: 10px;
    padding: 1px;
    background: #F0F0E9;
}

.blog-socials ul li a:hover {
    color: #fff;
    background: #FE980F
}

.media-list .btn-primary,
.commnets .btn-primary {
    background: #FC9A11;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    padding: 1px 7px;
    text-transform: uppercase;
}

.response-area h2 {
    color: #363432;
    font-size: 20px;
    font-weight: 700;
}

.response-area .media {
    border: 1px solid #F7F7F0;
    padding: 18px 18px 18px 0;
    margin-bottom: 27px
}

.response-area .media img {
    height: 102px;
    width: 100%;
}

.response-area .media .pull-left {
    margin-right: 25px
}

.response-area .second-media {
    margin-left: 5%;
    width: 95%;
}

.sinlge-post-meta {
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 15px
}

.sinlge-post-meta li {
    background: #F0F0E9;
    color: #363432;
    float: left;
    font-size: 10px;
    font-weight: 700;
    margin-right: 10px;
    padding: 0 10px 0 0;
    position: relative;
    text-transform: uppercase;
}

.sinlge-post-meta li i {
    background: #FE980F;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 8px 10px;
}

.sinlge-post-meta li i:after {
    top: 7px;
    border-width: 6px;
    left: 27px;
}

.replay-box {
    margin-bottom: 107px;
    margin-top: 55px;
}

.replay-box h2 {
    font-weight: 700;
    font-size: 20px;
    color: #363432;
    margin-top: 0;
    margin-bottom: 45px
}

.replay-box label {
    background: #FE980F;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 3px 15px;
    float: left;
    font-weight: 400;
}

.replay-box span {
    color: #FE980F;
    float: right;
    font-weight: 700;
    margin-top: 21px;
}

.replay-box form input {
    border: 1px solid #F7F7F0;
    color: #ADB2B2;
    font-size: 12px;
    margin-bottom: 22px;
    padding: 8px;
    width: 100%;
}

.replay-box form input:hover,
.text-area textarea:hover {
    border: 1px solid #FE980F;
}

.text-area {
    margin-top: 66px
}

.text-area textarea {
    background: transparent;
    border: 1px solid #F7F7F0
}

.btn.btn-primary {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    margin-top: 16px;
}

.blank-arrow {
    position: relative;
}

.blank-arrow label:after {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 8px;
    border-color: #FE980F transparent transparent transparent;
    top: 25px;
    left: 5px
}


/*************************
******* Contact CSS ********
**************************/

.contact-map {
    width: 100%;
    height: 385px;
    margin-bottom: 70px
}

.contact-info .heading,
.contact-form .heading {
    text-transform: capitalize;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

#contact-page .form-control::-moz-placeholder {
    color: #8D8D8D;
}

/*#contact-page .form-control {*/
/*    background-color: #fff;*/
/*    border: 1px solid #ddd;*/
/*    color: #696763;*/
/*    height: 46px;*/
/*    padding: 6px 12px;*/
/*    width: 100%;*/
/*    font-size: 16px;*/
/*    border-radius: 4px;*/
/*    -webkit-box-shadow: inherit;*/
/*    box-shadow: inherit;*/
/*}*/

#contact-page #message {
    height: 160px;
    resize: none;
}

#main-contact-form .btn-primary {
    margin-bottom: 15px;
    margin-top: 20px;
}

#contact-page .form-control:focus,
#contact-page .form-control:hover {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-color: #FDB45E;
}

#contact-page .contact-info {
    padding: 0 20px;
}

#contact-page .contact-info address {
    margin-bottom: 40px;
    margin-top: -5px;
}

#contact-page .contact-info p {
    margin-bottom: 0;
    color: #696763;
    font-size: 16px;
    line-height: 25px;
}

.social-networks {
    overflow: hidden;
    text-align: center;
}

.social-networks ul {
    margin-top: -5px;
    padding: 0;
    display: inline-block;
}

.social-networks ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

.social-networks ul li:last-child {
    margin-right: 0;
}

.social-networks ul li a {
    color: #999;
    font-size: 25px;
}

.contact-info .social-networks ul li a i {
    background: none;
}

.contact-info .social-networks ul li a:hover {
    color: #FE980F;
}

#payment-delivery h2, #specification h2 {
    color: #696763;
    margin-left: 40px;
    margin-bottom: 40px;
}

.description-style {
    line-height: 1.7;
    font-size: 14px;
    color: #535353;
}

.description-style ul {
    margin-bottom: 0;
    line-height: 1.5;
    background: none;
    border-bottom: none;
}

.description-style li {
    list-style: initial;
    padding-left: 15px;
    color: #535353;
    font-size: 14px;
    margin-bottom: 5px;
}

.p-item {
    margin: 0 40px 30px;
}

.p-item > p {
    line-height: 1.5;
}

.payment-delivery-information {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 0 40px;
}

.specification-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.specification-section {
    width: 41%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 26px;
    margin-right: 8%;
}

.specification-section h4 {
    color: #51555e;
    font-size: 15px;
    white-space: nowrap;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
}

.specification-line {
    height: 1px;
    background-color: #ebebeb;
    width: 100%;
    margin: 0 10px;
}

.specification-section span {
    color: #4e4e4e;
    font-weight: bold;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 15px;
    text-align: right;
    white-space: nowrap;
}

.custom-select {
    display: inline;
    width: 30%;
    margin-right: 10px;

}

.container-product-information div {
    margin-bottom: 10px;
}

.btn-to-order {
    background: #3276b1 !important;
}

.cart_product img {
    width: 70%;
}

.cart_quantity_button a {
    margin-bottom: 10px;
}

tbody tr h4, .modal-title {
    color: #696763;
}

.form-check-input:hover {
    background-color: #FE980F;
}

.form-check-input:focus {
    outline: none !important;
}

.form-check-input:checked {
    background-color: #FE980F;
    border-color: #0d6efd;
    border-width: 2px;
}

.order-create button {
    margin: 0 auto;
    display: block;
    transition: background-color .3s ease;
}

.order-create button:hover {
    color: #FFFFFF;
    background-color: dodgerblue;
}

.order-create {
    margin-bottom: 16px;
}

/*.invalid-feedback {*/
/*    margin-top: -5px;*/
/*}*/

.post-create-order {
    margin-bottom: 0 !important;
}

.post-create-order button {
    margin-bottom: 0 !important;
}

.post-create-order button:hover {
    color: #FFFFFF;
    background-color: dodgerblue;
}

.settingForContactsPageBlocks {
    min-height: 460px;
    height: 100%;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.emailInFirstBlock a {
    color: #2c80e5;
    text-decoration: none;
}

.about-us li {
    list-style-type: disc;
}

h4.title {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    position: relative;
}

i.fa-phone {
    margin-right: 5px;
}

#details ul {
    background: none;
    border-bottom: none;
}

.price-before-discount {

    text-decoration: line-through;
    color: #d3d3d3;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px !important;
    margin-left: 5px;
}

.autocomplete_output_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_menu_output_div {
    display: flex;
    align-items: center;
    width: 50%;
}

.main-menu {
    margin-top: 0;
    justify-content: center;
    display: flex;
    position: initial;
}

.menu-popup {
    width: 100%;
    box-sizing: border-box;
}

.menu-popup ul {
    padding: 0;
    display: flex;
}

.menu-popup li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.menu-popup li a {
    font-size: 15px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-decoration: none;
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0;
    top:0;
    content: attr(data-count);
    font-size:30%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    /*color: white;*/
    color:#fe9b17 ;
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: white;
    border-style:solid;
}

.navbar_filters_output_div {
    /*display: flex;*/
    display: none;
    align-items: center;
    width: 25%;
}

.main-filters {
    margin-top: 0;
    justify-content: center;
    display: flex;
    position: initial;
}

.filters-popup {
    width: 100%;
    box-sizing: border-box;
}

.filters-popup ul {
    padding: 0;
    display: flex;
}

.filters-popup li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.filters-popup li a {
    font-size: 15px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-decoration: none;
}
