.input-number {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px auto;
    display: inline-flex;
}

.input-number span {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 20px !important;
    color: #696763 !important;
    letter-spacing: -1px;
}

.input-number button {
    display: inline-block;
    width: 50px;
    height: 100%;
    /*background-color: transparent;*/
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: #FE980F;
    transition: background-color .5s ease;
}

.input-number button:nth-of-type(1) {
    padding-right: 20px
}

.input-number button:nth-of-type(2) {
    padding-left: 20px;
}

.input-number button:hover {
    background-color: dodgerblue;
}