/* lg */

@media (min-width: 1200px) {
}


/* md */

@media (min-width: 992px) and (max-width: 1199px) {
    .header-middle .btn-group .btn {
        padding-left: 8px;
        padding-right: 8px;
    }

    .usa {
        margin-right: 0;
    }

    .shipping img {
        width: 100%;
    }

    .searchform input {
        width: 160px;
    }

    .product-information span span {
        width: 100%;
    }

    #similar-product .carousel-inner .item img {
        width: 65px;
    }

    #cart_items .cart_info .cart_description h4,
    #cart_items .cart_info .cart_description p {
        text-align: center;
    }
}


/* sm */

@media (min-width: 768px) and (max-width: 991px) {
    .shop-menu {
        display: block;
        width: 100%;
        text-align: center;
    }

    .shop-menu ul {
        display: inline-block;
        float: none;
    }

    .shop-menu ul li a {
        padding-left: 0;
    }

    #slider-carousel .item {
        padding-left: 30px;
    }

    .item h2 {
        font-size: 24px;
    }

    .girl {
        margin-left: 0;
    }

    .pricing {
        width: 100px;
    }

    .shipping img {
        width: 100%;
    }

    .slider.slider-horizontal {
        width: 100% !important;
    }

    .tab-pane .col-sm-3,
    .features_items .col-sm-4 {
        width: 50%;
    }

    .footer-widget .col-sm-2 {
        width: 33%;
        display: inline-block;
        margin-bottom: 50px;
    }

    .footer-widget .col-sm-3 {
        display: inline-block;
        width: 40%;
    }

    #similar-product .carousel-inner .item img {
        width: 60px;
        margin-left: 0;
    }

    .product-information span span {
        display: block;
        /*width: 100%;*/
    }

    .product-information .cart {
        margin-left: 0;
        margin-top: 15px;
    }

    .item-control i {
        font-size: 12px;
        padding: 5px 6px;
    }

    #cart_items .cart_info .cart_description h4,
    #cart_items .cart_info .cart_description p {
        text-align: center;
    }

    .companyinfo h2 {
        font-size: 20px;
    }

    .address {
        margin-top: 48px;
        margin-left: 20px;
    }

    .address p {
        font-size: 12px;
        top: 5px;
    }

}

@media (min-width: 768px) {

    /*.main-category-tree-heading a {*/
    /*    pointer-events: none;*/
    /*}*/
    /*.main-category-tree-heading span {*/
    /*    pointer-events: none;*/
    /*    display: none;*/
    /*}*/

    /*.main-category-tree-products {*/
    /*    display: block !important;*/
    /*}*/
}

/* xs */

@media (max-width: 767px) {
    #cart_items .cart_info table {
        min-width: 600px;
    }

    #cart_items .cart_info .cart_description h4 a {
        font-style: 15px;
    }

    #cart_items .cart_info .cart_description p {
        font-size: 12px;
    }

    .main-menu ul li:first-child {
        padding-left: 15px;
    }

    #form {
        margin-top: 10px;
    }

    .shop-menu {
        display: block;
        width: 100%;
        text-align: center;
    }

    .shop-menu ul {
        display: inline-block;
        float: none;
    }

    .header_top .col-sm-6:first-child {
        display: inline-block;
        float: left;
    }

    .header_top .col-sm-6:last-child {
        display: inline-block;
        float: right;
    }

    .header-middle .col-sm-4 {
        display: inline-block;
        overflow: inherit;
        width: 100%;
    }

    .social-icons ul li a i {
        padding: 8px 10px;
    }

    .shop-menu.pull-right {
        float: none !important;
    }

    .shop-menu .nav.navbar-nav {
        margin-left: -30px;
    }

    .header-bottom .col-sm-9 {
        display: inline-block;
        width: 100%;
    }

    .main-menu {
        width: 100%;
    }

    .main-menu ul li {
        background: rgba(0, 0, 0, 0.5);
        padding-top: 15px;
        padding-bottom: 0;
    }

    .main-menu ul li:last-child {
        padding-bottom: 15px;
    }

    .main-menu ul li a {
        color: #fff;
    }

    .navbar-collapse.in {
        overflow: inherit;
    }

    .main-menu ul li a.active {
        padding-left: 15px;
    }

    .dropdown .fa-angle-down {
        display: none;
    }

    ul.sub-menu {
        position: relative;
        width: auto;
        display: block;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        top: 0;
    }

    .sub-menu li {
        background: transparent;
    }

    .main-menu .navbar-nav li ul.sub-menu li {
        background: transparent;
        padding-bottom: 0;
    }

    .nav.navbar-nav > li:hover > ul.sub-menu {
        -webkit-animation: none;
        animation: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header-bottom {
        position: relative;
    }

    .header-bottom .col-sm-3 {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 38px;
    }

    #slider-carousel .item {
        padding-left: 0;
    }

    .shipping {
        margin-bottom: 25px;
    }

    .pricing {
        width: 100px;
    }

    .footer-top .col-sm-7 .col-sm-3 {
        width: 50%;
        float: left;
    }

    .footer-widget .col-sm-2 {
        width: 28%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 50px;
        margin-top: 0;
        float: left;
        margin-left: 30px;
    }

    .companyinfo {
        text-align: center;
    }

    .footer-widget .col-sm-3 {
        display: inline-block;
    }

    .single-widget {
    }

    .product-information span {
        display: block;
    }

    #similar-product {
        margin-bottom: 40px;
    }

    .well {
        display: inline-block;
    }

    .main-category-tree-heading h2 {
        z-index: -1;
    }

    .panel-heading {
        padding: 0;
    }
}


/* XS Portrait */

@media (max-width: 480px) {
    .bill-to {
        margin-top: 10px;
    }

    .form-two, .form-one {
        width: 100%;
        margin-left: 0;
    }

    .header-middle .dropdown-menu {
        text-align: left;
    }

    .header-middle .dropdown-menu {
        min-width: 0;;
    }

    .header-middle .logo + div {
        text-align: center;
        display: block;
    }

    .header-middle .btn-group > .btn-group {
        float: none;
    }

    .contactinfo {
        text-align: center;
    }

    .contactinfo ul li a {
        padding-right: 15px;
        padding-left: 0;
    }

    .social-icons.pull-right {
        float: none !important;
        text-align: center;
    }

    .btn-group.pull-right,
    .footer-bottom .pull-left,
    .footer-bottom .pull-right,
    .media.commnets .pull-left,
    .media-list .pull-left {
        float: none !important;
    }

    .header_top .col-sm-6:first-child {
        display: block;
        float: none;
    }

    .header_top .col-sm-6:last-child {
        display: block;
        float: none;
    }

    .contactinfo .nav.nav-pills,
    .social-icons .nav.navbar-nav {
        display: inline-block;
    }

    .logo {
        text-align: center;
        width: 100%;
    }

    .shop-menu ul li {
        padding: 0 5px;
    }

    .header-middle .col-sm-4 {
        text-align: center;
        overflow: inherit;
    }

    .shop-menu .nav.navbar-nav {
        margin-left: 0;
    }

    .btn-group > .btn-group:last-child > .btn:first-child {
        margin-right: 0;
    }

    .header-bottom .col-sm-9 {
        display: inline-block;
        width: 100%;
    }

    .main-menu {
        width: 100%;
    }

    .main-menu ul li {
        background: rgba(0, 0, 0, 0.5);
        padding-top: 15px;
        padding-bottom: 0;
        width: 45%;
    }

    .main-menu ul li:last-child {
        padding-bottom: 15px;
    }

    .main-menu ul li a {
        color: #FFF;
        padding-bottom: 0;
        border-bottom: 1px solid #fdb45e;
    }

    .navbar-collapse.in {
        overflow: inherit;
    }

    .main-menu ul li a.active {
        padding-left: 15px;
        border-bottom: 1px solid #FFF;
    }

    .dropdown .fa-angle-down {
        display: none;
    }

    ul.sub-menu {
        position: relative;
        width: auto;
        display: block;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        top: 0;
    }

    .main-menu .navbar-nav li ul.sub-menu li {
        background: transparent;
        padding-bottom: 0;
    }

    .nav.navbar-nav > li:hover > ul.sub-menu {
        -webkit-animation: none;
        animation: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item {
        padding-left: 0;
    }

    .item h1 {
        font-size: 30px;
        margin-top: 0;
    }

    .item h2 {
        font-size: 20px;
    }

    .pricing {
        width: 70px;
    }

    .category-tab ul li a {
        font-size: 12px;
    }

    .companyinfo h2,
    .companyinfo p {
        text-align: center;
    }

    .video-gallery {
        margin-top: 30px;
    }

    .footer-bottom p {
        font-size: 13px;
        text-align: center;
    }

    .footer-widget .col-sm-2 {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 50px;
        margin-top: 0;
        float: left;
        padding-right: 0;
        padding-left: 30px;
        margin-left: 0;
    }

    .single-widget {
        padding-left: 0;
    }

    .features_items {
        /*margin-top: 30px;*/
        margin-top: 0;
    }

    .category-tab .nav-tabs li {
        float: none;
    }

    #similar-product .carousel-inner .item img {
        margin-left: 4px;
    }

    .product-information {
        margin-top: 40px;
    }

    #reviews p,
    .blog-post-area .single-blog-post p {
        text-align: justify;
    }

    #reviews form span input {
        width: 100%;
        margin-bottom: 20px;
    }

    #reviews form span input:last-child {
        margin-left: 0;
    }

    .blog-post-area .single-blog-post h3 {
        font-size: 14px;
    }

    .blog-post-area .post-meta ul li {
        margin-right: 7px;
    }

    .shipping {
        margin-bottom: 20px;
    }

    .commnets {
        padding: 0;
    }

    .content-404 h1 {
        font-size: 30px;
    }

    .content-404 h2 a {
        font-size: 20px;
    }

    .order-message {
        display: inline-block;
    }

    .response-area .media img {
        width: auto;
    }

    .sinlge-post-meta li {
        margin-bottom: 10px;
    }

    .product-information {
        padding-left: 0;
        text-align: center;
    }

    .product-information span span {
        float: none;
    }
}

.social-icons .nav.navbar-nav {
    flex-direction: row;
}

.header-middle-cart {
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.header-middle-cart .shop-menu {
    margin-left: auto;
}


@media (min-width: 320px) {
    .col-md {
        flex: 1 0 0;
    }
}

.responsive-category-tree {
    display: none;
}

@media (max-width: 568px) {
    .responsive-category-tree {
        display: block;
    }
    .navbar_menu_output_div {
        display: flex;
        align-items: center;
        width: 25%;
    }

    .main-menu {
        margin-top: 0;
        justify-content: center;
        display: flex;
        position: initial;
    }

    .menu-trigger {
        background: url(./../images/home/menu.png) 0 0 repeat;
        display: block;
        width: 25px;
        height: 17px;
        /*position: absolute;*/
        /*right: 15px;*/
        /*top: 28px;*/
    }

    .menu-close {
        background: url(./../images/home/close.png) 0 0 repeat;
        display: block;
        width: 28px;
        height: 28px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 100;
    }

    .menu-popup {
        background: #2c2e3e;
        display: none;
        position: absolute;
        right: -110%;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        z-index: 9999;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .menu-popup ul {
        padding: 0;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .menu-popup li {
        list-style: none;
        margin: 10px 0;
        padding: 0;
    }

    .menu-popup li a {
        font-size: 13px!important;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        line-height: 1.4;
        text-decoration: none;
    }

    .body_pointer * {
        cursor: pointer;
    }

    .left-sidebar {
        display: none;
    }

    .responsive-category-tree {
        color: #FFF;
        padding-bottom: 0;
        border-bottom: 1px solid #fdb45e;
    }

    .responsive-category-tree h2 {
        font-size: 15px;
        margin: 10px 0;
        font-weight: 400;
    }

    .panel-heading {
        padding: 0 15px;
    }

    .responsive-category-tree > div > h2:first-child {
        margin-bottom: 30px;
        border-bottom: 2px solid #fdb45e;
        width: fit-content;
    }

    .category-products {
        border: none;
    }

    .category-products .panel-collapse .panel-heading {
        background-color: #e4e3e3;
    }

    .responsive-category-tree ul {
        display: block;
    }

    .responsive-category-tree ul li {
        width: auto;
        background: none;
    }

    .responsive-category-tree ul li a {
        color: #696763;
    }

    .productinfo {
        height: auto;
    }

    .add-to-cart {
        margin-bottom: 10px;
    }
    .breadcrumb li {
        margin-bottom: 5px;
    }

    .contact-info h2.title {
        margin-top: 20px;
    }
    #question > form > button {
        position: relative;
        left: 35%;
    }

    .specification-section {
        width: 100%;
    }

    .specification-section span {
        white-space: pre-line;
    }

    .parent_search_box  {
        position: inherit;
    }

    span.badge {
        position: absolute;
        right: 15px;
    }

    #filter-block, .filters-popup {
        display: block;
    }

    .navbar_filters_output_div {
        display: flex;
        align-items: center;
        width: 25%;
    }

    .main-filters {
        margin-top: 0;
        justify-content: center;
        display: flex;
        position: initial;
    }

    .filters-trigger {
        background: url(./../images/home/filters.png) 0 0 repeat;
        display: block;
        width: 25px;
        height: 25px;
        /*position: absolute;*/
        /*right: 15px;*/
        /*top: 28px;*/
    }

    .filters-close {
        background: url(./../images/home/close.png) 0 0 repeat;
        display: block;
        width: 28px;
        height: 28px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 100;
    }

    .filters-popup {
        background: #2c2e3e;
        display: none;
        position: absolute;
        right: -110%;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        z-index: 9999;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .filters-popup ul {
        padding: 0;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .filters-popup li {
        list-style: none;
        margin: 10px 0;
        padding: 0;
    }

    .filters-popup li a {
        font-size: 13px!important;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        line-height: 1.4;
        text-decoration: none;
    }

    .filters-popup h3, h4 {
        color: rgb(255, 255, 255) !important;
    }
}
