{% extends '@EasyAdmin/layout.html.twig' %}
{% block page_title %}Parsing XML{% endblock %}
{% block flash_messages %}
{% endblock flash_messages %}
{% block main %}
    <div class="wrap">
        <div class="container">
            <div class="text-center pt-lg-1">
                {{ include(ea.templatePath('flash_messages')) }}
                <h4>Parsing XML </h4>
            </div>
            <div>
                {% include 'admin/parsing_xml/parsing.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}