{{ form_start(parserForm, {'attr': {'id': 'parserForm'}}) }}
<div class="form-group row">
    {{ form_label(parserForm.file,'Select XML catalog file ',{'label_attr' : {'class' : 'pt-1 col-sm-2 col-form-label'}}) }}
    <div class="col-sm-6">
        {{ form_widget(parserForm.file,{'attr' : {'class' : 'form-control plaintext','readonly':'true'} }) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(parserForm.translate,'Select whether translation is required ',{'label_attr' : {'class' : 'pt-1 col-sm-2 col-form-label'}}) }}
    <div class="col-sm-2">
        {{ form_widget(parserForm.translate,{'attr' : {'class' : 'form-control'} }) }}
    </div>
</div>
<div class="form-group row">
    {{ form_widget(parserForm.import,{'attr':{'class' : 'btn btn-primary mb-2 col-sm-2 active d-block mx-auto'}}) }}
</div>

{{ form_end(parserForm) }}