{% apply inline_css(source('/email.css')) %}
    <div class="order-email-main">
        <div>
            <a title="BIMAYO" href="https://bimayou.com.ua/" target="_blank">
                <img src="{{ email.image('home/logo_best.png') }}" alt="Logo">
            </a>
            <p>
                Дякуємо за покупку товарів в нашому магазині <b>BIMAYO</b>!<br>
                Ваше <span class="il">замовлення</span> отримано і буде оброблене найближчим часом!
            </p>
            <table class="order-email-table">
                <thead>
                <tr>
                    <td colspan="2">Деталі <span class="il">замовлення</span></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <strong>Номер <span class="il">замовлення</span>: </strong>{{ order.id }}
                        <br/>
                        <strong>Дата створення: </strong> {{ order.t_ins|date("d/m/Y") }}
                        <br/>
                        <strong>Спосіб оплати: </strong> {{ paymentType }}
                        <br/>
                        <strong>Спосіб доставки: </strong> {{ deliveryType }}
                        <br/>
                        <strong>Мiсто: </strong>{{ order.postCity }}
                        <br/>
                        <strong>Відділення: </strong>{{ order.postOffice }}
                    </td>
                    <td>
                        <strong>І'мя: </strong>{{ order.userName }}
                        <br/>
                        <strong>Прiзвище: </strong>{{ order.userSurname }}
                        <br/>
                        <strong>E-mail:</strong>
                        <a href="mailto:bimayou@gmail.com" target="_blank">{{ order.userEmail }}</a><br/>
                        <strong>Телефон: </strong>{{ order.userPhone }}<br/>
                        <strong>Комментар: </strong>{{ order.comment }}
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="order-email-table">
                <thead class="order-email-thead">
                <tr>
                    <td>Товар</td>
                    <td>Штрих-код</td>
                    <td>Кількість</td>
                    <td>Ціна</td>
                    <td>Разом</td>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.vendorCode }}</td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.totalPrice }}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4"><strong>Разом:</strong></td>
                    <td>{{ order.orderTotalPrice }}</td>
                </tr>
                </tfoot>
            </table>
            <p>Якщо у Вас є запитання, дайте відповідь на це повідомлення!</p>
        </div>
    </div>
{% endapply %}