<!DOCTYPE html>
<html lang="en">
<script>
    window.dataLayer = window.dataLayer || [];
</script>
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        let f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W75TPKN');</script>
<!-- End Google Tag Manager -->

{% set url = url is defined ? url : 'https://bimayo.com.ua' %}
{% set pageName = pageName is defined ? pageName ~' | ' : '' %}
<head>
    {% block head %}
        <title>
            {% block title %} {{ pageName }} {% endblock %} Bimayo.com.ua
        </title>
    {% block metaTag %}
    <meta name="description"
          content="{{ pageName }}Bimayo.com.ua | Інтернет-магазин BIMAYO: все для дому, товари для дітей, побутова техніка, посуд та аксесуари, електроніка та аксесуари. Купуйте в BIMAYO! Доставка по всій Україні 🚚 ✓ Відгуки покупців, $ Вигідні ціни та знижки %"/>
    <meta name="keywords"
          content="{{ pageName }}Bimayo.com.ua | Інтернет-магазин BIMAYO, купити товари для дому, купити товари для дітей, купити побутова техніка, купити посуд та аксесуари, купити електроніку та аксесуари"/>
    <meta name="robots" content="index,follow">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

    <meta property="og:image" content="https://bimayo.com.ua/build/images/logo_best.079d1ca9.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content={{ url }}/>
    <meta property="og:title" content="Інтернет-магазин BIMAYO | {{ pageName }}"/>
    <meta property="og:description"
          content="{{ pageName }}Bimayo.com.ua | Інтернет-магазин BIMAYO: все для дому, товари для дітей, побутова техніка, посуд та аксесуари, електроніка та аксесуари. Купуйте в BIMAYO! Доставка по всій Україні 🚚 ✓ Відгуки покупців, $ Вигідні ціни та знижки %"/>
    <meta property="og:keywords"
          content="{{ pageName }}Bimayo.com.ua | Інтернет-магазин BIMAYO, купити товари для дому, купити товари для дітей, купити побутова техніка, купити посуд та аксесуари, купити електроніку та аксесуари"
          }/>
    {% endblock %}
        <link rel="shortcut icon" href={{ asset("build/images/ico/commerce.png") }}>
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              href={{ asset("build/images/ico/apple-touch-icon-144-precomposed.png") }}>
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              href={{ asset("build/images/ico/apple-touch-icon-114-precomposed.png") }}>
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              href={{ asset("build/images/ico/apple-touch-icon-72-precomposed.png") }}>
        <link rel="apple-touch-icon-precomposed"
              href={{ asset("build/images/ico/apple-touch-icon-57-precomposed.png") }}>

        <link rel="stylesheet" type="text/css" charset="UTF-8"
              href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>

        {# [if lt IE 9] #}
        <script src={{ asset("js/respond.min.js") }}></script>
        <script src={{ asset("js/html5shiv.js") }}></script>
        {# [endif] #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('base') }}
        <script>
            {% if breadcrumbs is defined %}
            window.breadcrumbs = {{ breadcrumbs|json_encode|raw }}
                    {% else %}
                window.breadcrumbs = []
            {% endif %}
        </script>
    {% endblock %}
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W75TPKN"
            height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% block body %}{% endblock %}
</body>
</html>
