<?xml version="1.0" encoding="UTF-8"?>

{% if countSitemaps is defined %}
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% set start = 1 %}
    {% for key in start..countSitemaps %}
        <sitemap>
            <loc>{{ siteUrl }}/sitemap-{{key }}.xml</loc>
        </sitemap>
    {% endfor %}
</sitemapindex>
{% endif %}

{% if sitemapUrls is defined %}

    <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
        {% for sitemapUrl in sitemapUrls %}
            <url>
                <loc>{{ sitemapUrl }}</loc>
                <lastmod>{{ lastmod }}</lastmod>
            </url>
        {% endfor %}
    </urlset>
{% endif %}
